<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script th:unless="${session.is_admin != null and session.is_admin}" src="js/booksDT.js"></script>
    <script th:if="${session.is_admin != null and session.is_admin}" src="js/adminBooksDT.js"></script>
    <title>Look Inna Book</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    
    <div class="container panel panel-default">
      <div class="panel-body">
        <table id="booksDT" class="display" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>ISBN</th>
              <th>Title</th>
              <th>Author</th>
              <th>Genre</th>
              <th>Release</th>
              <th>Price</th>
              <th>Stock</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="book: ${allBooks}">
              <td></td>
              <td th:text="${book.ISBN}"></td>
              <td><a th:href="@{/book(isbn=${book.ISBN})}" th:text="${book.title}"></a></td>
              <td th:text="${book.author}"></td>
              <td th:text="${book.genre}"></td>
              <td th:text="${book.year}"></td>
              <td th:text="${book.price}"></td>
              <td th:text="${book.stock}"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>
                <input type="text" size="8" placeholder="Search ISBN">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Title">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Author">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Genre">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Release">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Price">
              </th>
              <th>
                <input type="text" size="8" placeholder="Search Stock">
              </th>
            </tr>
          </tfoot>
        </table>

        <a th:if="${session.is_admin != null and session.is_admin}" id="add-book" href="/addBook" class="button btn btn-success">Add book</a>

      </div>
    </div>

  </body>
</html>