<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <div th:replace="fragments/scripts :: scripts"></div>
  <script src="js/defaultDT.js"></script>
  <title>Look Inna Book</title>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5 class="panel-title">Checkout Info</h5>
        <br>

        <div class="panel panel-default">
          <div class="panel-body">
            <h5 class="panel-title">Shipping Info</h5>
            <div>Name: <strong><span th:text="${user.name}"></span></strong></div>
            <div>Phone: <strong><span th:text="${user.phone}"></span></strong></div>
            <div>Email: <strong><span th:text="${user.email}"></span></strong></div>
            <div>Address: <strong><span th:text="${user.address_street_num}"></span> <span th:text="${user.address_street_name}"></span> <span th:text="${user.address_street_postal}"></span></strong></div>
            <br>
            <h5 class="panel-title">Payment Info</h5>
            <div>Charging the card ending in <span th:utext="${#strings.substring(user.card_number,8)}"></span></div>
            <br>
            <h5 class="panel-title">Items</h5>
            <table id="cartDT" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>ISBN</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="book: ${booksInCart}">
                  <td th:text="${book.ISBN}"></td>
                  <td th:text="${book.title}"></td>
                  <td th:text="${book.author}"></td>
                  <td th:text="${book.price}"></td>
                </tr>
              </tbody>
            </table>
            <br>
            <h5 class="panel-title">Order Total</h5>
            <strong><div>$<span th:text="${total}"></span></div></strong>
          </div>
        </div>

        <form action="/placeOrder" method="post">
          <button type="submit" class="btn btn-success">Complete Order</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>

</body>

</html>