<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="navbar navbar-inverse" th:fragment="header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse"></button>
          <a class="navbar-brand" href="#">Look Inna Book</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:classappend="${module == 'shop' ? 'active' : ''}">
              <a href="#" th:href="@{/books}">
                Shop
              </a>
            </li>
            <li th:classappend="${module == 'cart' ? 'active' : ''}">
              <a href="#" th:href="@{/cart}">
                Cart <span id="cart_num" th:text="${num_in_cart}"></span>
              </a>
            </li>
            <li th:classappend="${module == 'checkout' ? 'active' : ''}">
              <a href="#" th:href="@{/checkout}">
                Checkout
              </a>
            </li>
            <li th:classappend="${module == 'orders' ? 'active' : ''}">
              <a href="#" th:href="@{/orders}">
                Orders
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                Logout
              </a>
             <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>